.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #031120; /* Light blue-gray background */
  }
  
  .form {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #dadd48; /* White background */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  .input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif; /* Example of custom font family */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Adjust font color */
  }


  .input-field {
    width: 100%; /* Set the width to 100% to match other input fields */
    padding: 10px; /* Add padding for consistency */
    border: 1px solid #dcdcdc; /* Add border */
    border-radius: 6px; /* Add border radius */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-top: 5px; /* Add margin */
  }
  
  
  
  
  button[type='submit'] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #0070f3; /* Next.js blue */
    color: #c5c02c; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #0057e7; /* Darker blue on hover */
  }

  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .end-drive-btn {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin-top: 10px; /* Add top margin */
  }
  
  .end-drive-btn:hover {
    background-color: #cc0000; /* Darker red on hover */
  }
  
  
  